
.name {
  float: right;
  width: 50%;
  text-decoration: white;
  text-align: center;
  font-size: 80%;
}
img {
  float: left;
  width: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.section {
  background-color:lightblue; 
  padding-block:auto;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}
.employer {
  padding-block:auto;
  font-weight: bold;
  text-decoration: underline;
  background-color:cyan; 
  text-align: left;
}
.title {
  background-color:#1245a8;
  padding-block:auto;
  text-align: left;
}
.list3 {  
  background-color: skyblue;
  padding-block:auto;
  column-count: 3;
  text-align: left;
}
.description{
  background-color: skyblue;
  padding-block:auto;
  text-align: left;
}

body {
  background-color: black;
}
