
.top {
  text-align: center;
}
.section {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
.employer {
  font-weight: bold;
  text-decoration: underline;
}
.title {
 
}
.list3 {
    column-count: 3;
}
