
#top {
  text-decoration-color: cyan;
  text-align: center;
}
img {
  border-radius: 50%;
  margin-left: 0
}
.section {
  background-color:lightblue; 
  padding-block:auto;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
.employer {
  padding-block:auto;
  font-weight: bold;
  text-decoration: underline;
  background-color:cyan; 
  text-align: left;
}
.title {
  background-color:#1245a8;
  padding-block:auto;
  text-align: left;
}
.list3 {  
  background-color: skyblue;
  padding-block:auto;
  column-count: 3;
}
.description{
  background-color: skyblue;
  padding-block:auto;
  text-align: left;
}

body {
  background-color: black;
}
